'context-menu':
  '.alerts .tr.open': [
    {label: 'Cancel Alert', command: 'alerts:cancel-alert'}
  ]
  '.alerts .tr.pending': [
    {label: 'Remove Alert', command: 'alerts:cancel-alert'}
  ]
  '.chart .chart-alert-tools.open': [
    {label: 'Cancel Alert', command: 'alerts:cancel-alert'}
  ]
  '.chart .chart-alert-tools.pending': [
    {label: 'Remove Alert', command: 'alerts:cancel-alert'}
  ]