'menu': [
  {
    'label': 'View'
    'submenu': [
      'label': 'Components'
      'submenu': [
        { 'label': 'Manage Alerts', 'command': 'alerts:open-manager' }
        { 'label': 'Create Alert', 'command': 'alerts:open-creator' }
      ]
    ]
  }
]

'context-menu':
  '.alerts .tr.open': [
    {label: 'Cancel Alert', command: 'alerts:cancel-alert'}
    {label: 'View On Chart', command: 'alerts:open-chart'}
  ]
  '.alerts .tr.pending': [
    {label: 'Remove Alert', command: 'alerts:cancel-alert'}
    {label: 'View On Chart', command: 'alerts:open-chart'}
  ]
  '.alerts': [
    {type: 'separator'}
    {label: 'Cancel All Alerts', command: 'alerts:cancel-all'}
    {type: 'separator'}
  ]
  '.chart .chart-alert-tools.open': [
    {label: 'Cancel Alert', command: 'alerts:cancel-alert'}
    {type: 'separator'}
  ]
  '.chart .chart-alert-tools.pending': [
    {label: 'Transmit Alert', command: 'alerts:transmit-alert'}
    {label: 'Remove Alert', command: 'alerts:cancel-alert'}
    {type: 'separator'}
  ]